@using FaceLook.Constants
@using FaceLook.Controllers
@using FaceLook.Services.Extensions
@{
	string alowedPictureTypes = PictureConstants.AllowedExtensions.Aggregate((prev, curr) => $"{prev}, {curr}");
}

<form asp-controller="@StringExtenstions.ExtractControllerName(nameof(PicturesController))" asp-action="@nameof(PicturesController.Upload)" method="post" enctype="multipart/form-data">
	<input type="file" name="picture" accept="@alowedPictureTypes" />
	<button type="submit">Upload</button>
</form>
