@model SendMessageRequest
@using FaceLook.Services.Extensions

@{
    ViewData["Title"] = "New Message";
}

<div class="container mt-5">
    <div class="glass-card">
        @{
            ViewData["FormTitle"] = "Create New Message";
            ViewData["FormSubtitle"] = "Send a message to another user";
            ViewData["ShowTitle"] = true;
            ViewData["MessageRows"] = 5;
            ViewData["SubmitButtonText"] = "Send Message";
            ViewData["ShowBackButton"] = true;
        }
        
        <div class="row">
            <div class="col-md-8">
                <partial name="_SendMessagePartial" model="Model" />
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
